{% extends 'base.html.twig' %}

{% block title %}New CsvFiles{% endblock %}

{% block body %}
    <h1>Create new CsvFiles</h1>

    {{ include('csv_files/_form.html.twig') }}

    <a href="{{ path('app_csv_files_index') }}">back to list</a>
{% endblock %}
